body {
  background-color: #d9d1b8;
}

img {
  margin: -31px auto;
  display: block;
  height: 190px;
}

h1 {
  padding: 0px 0px -5px 5px;
  margin: -5px -5px -5px -5px;
  text-align: center;
}

h2 {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  text-align: center;
}

.container {
  position: relative;
  margin-bottom: 5px;
}

.form {
  background-color: #ffffff;
  height: 510px;
  width: 380px;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0px 15px 10px 15px;
  margin: -31px auto auto auto; /* margin 'auto' centralizou o formulário*/
  border-radius: 10px;
}
